aiogram>=3.0
environs~=9.0
aiomysql~=0.1
Django~=4.1
mysqlclient~=2.1

# # For enabling api:
# backoff
# ujson
# yarl

# # For PostgreSQL sqlalchemy + alembic:
# sqlalchemy~=2.0
# alembic~=1.0
# asyncpg
